body{
    margin: 0;
    padding: 0;
    font-family: 'Bodoni 72', cursive;
    background-image: radial-gradient(white, white, #D3E0EA);
  }
.button, .buttontwo{
    background-color:#C4BFFF;
}
.buttontwo{
  height: 50px;
  width: 140px;
  margin-left: 40px;
  border-radius: 5px;
}
.card{
  height: 350px;
}
a{
  color: black;
}
a:hover{
  text-decoration: none;
  color: black;
}
.picture{
  height: 200px;
  width: 150px;
}
.pictures{
  width: 90px;
  height: 160px;
}
.borderOne{
  height: 270px;
  border-radius: 5px;
  margin-top: 10px;
}
.degrade, .type, .viewTwo{
    background-image: linear-gradient(#3A9EEA, #1582D6, #1443D1);

}
.viewThree{
  background-color: #D3E0EA;
}
.degradeTwo{
    background-image:radial-gradient(white, #00a0af);
}
.link a{
  color: white;
}
.color{
  color:#371777;
}
.viewTwo{
  width: 140px;
  border-radius: 5px;
}
.view{
  height:170px;
}
.contact{
  height:40px
}
.background{
  background-image: url(img/imgserie/imgcategory/bannieredvd.png);
  background-size: 1210px;
  height:100px;
}
@media(max-width: 768px){

  .text{
    margin-left: 40px;
  }
  .borderOne{
    width: 350px;
  }
  .picture{
    margin-right: 30px;
  }
  .prise{
    margin-left: 40px;
    width: 320px;
    height: 300px;
  }
  .pictures{
    width: 90px;
    height: 160px;
  }

  .product{
  margin-left: -40px;
  }
  .CommentaireId{
      margin-bottom:220px;
  }
  .background{
    background-image: none;
  }
  .livraison{
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	margin-top: -60px;

  }
  .buttonThree{
  	background-color: white;
  	height: 40px;
  }
  .buttonThree a{
  	margin-left: -30px;
  }
  .view{
  	 margin-left: 15px;

  }
  .buttontwo{
  	margin-left: 90px;
  }


}
@media(max-width: 425px){
  .logo{
      width: 150px;
  }
  .prixproduit{
		width: 300px;
	}
  .picture{
    margin-left: 10px;

  }
  .view{
     margin-left: 15px;
  }
  .viewThree{
    margin-right: 100px;
    margin-top: 150px;
  }
  .prise{
    margin-left: 40px;
    height: 295px;

  }
  #banniere_image{
    width: 500px;
  }
  .block{
    width: 450px;
  }
  .button{
    margin-right: 40px;
  }
  .Commentaireid{
  	margin-top: 170px;
  }
  .buttontwo{
		margin-left: 90px;
	}
	.viewTwo{
		margin-top:10px;
	}
	.livraison{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: -60px;

	}
  .background{
    background-image: none;
  }
  .logo_moovieserie{
    margin-top: 100px;
  }
  .margin{
    margin-top: 50px;
  }
  .contact{
		width: 80px;
	}
	.pictures{
	  height: 200px;
	  width: 140px;
	}
}
