

a{
    color: white;
}
a:hover{
    text-decoration: none;
    color: white;
}
.picture{
    height: 200px;

}
.nav{
  background-color: white;
}

@media(max-width: 770px){
  .picture{
      height: 100px;

  }
}
@media(max-width: 425px){

}
