.navmarge{
display: flex;
justify-content: flex-end;
}
.logo{
  height: 50px;
}

.linkTwo a:hover{
    background-color: white;
    border-radius: 1px;
}
.menu{
  margin-left: -40px;
}
.menu a:hover{
  background-color: white;
}
.button{
    background-color:#C4BFFF;
}
.nav a:hover{
  background-color:white;

}
.image{
	border-radius: 50%;
}
@media(max-width: 425px){
  .logo{
      width: 150px;
  }
  .nav{
    width: 450px;
  }

}
